.hero {
    width: 100%;
    height: 100vh;
    background: url() top center no-repeat;
    background-size: cover;
  }
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #382883;
  }
  .hero h2 {
    color: #425066;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-weight: 370;
  }
  .hero .btn-get-started {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
    color: #fff;
    background-image: linear-gradient(to right, #412FB9 , #8B3499);
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
height: 50px;
text-decoration: none;

  }
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;

  }
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;

  }
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .hero .hero-img {
    text-align: right;
  }
  .hero-section-icon{
      margin-top: 10px;
  }
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }