

.profile-card-5{
    margin-top:20px;
    width: 230px;
    height: 290px;
    border-radius:20px ;
    background-image: linear-gradient(to bottom ,#F1E7fD ,#ecc8d1);
}

.profile-card-5 .card-img-block {
    width: 90%;

    margin: 20px auto;
    position: relative;
    border-radius: 20px;
   
    
}
.profile-card-5 .card-img-block img{
    border-radius:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#000000;
    font-weight:600;
}
.profile-card-5 h7{
color: #5e606b;
}
.profile-card-5 h6{
    color: #41a1fb;
    }
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}